NODE_ENV=development
SERVER_PORT=
DATABASE_TYPE=mongodb
MONGODB_CONNECTION_STRING=mongodb://0.0.0.0:27017
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=cms
DATABASE_CONNECTION_TIME_OUT=
DATABASE_ACQUIRE_TIME_OUT=
DATABASE_CONNECTION_LIMIT=
CRYPTO_SECRET=
CRYPTO_IV=
CRYPTO_ALGORITHM=
JWT_SECRET=
HASH_SALT=
